name: Installing Neuvector
on:
  push
jobs:
  install-neuvector:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Kubeconfig
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{secrets.KUBECONFIG}}

      - name: Install NeuVector
        uses: ./
        with:
          Version: 5.4.2
